/**
 * Site header
 */

#navbar {
  overflow: hidden;
  background-color: $background-color;
  border-top: 4px solid $crimson-color;
  border-bottom: 0.5px solid $crimson-color-very-light;
  position: relative;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/*.site-header {
  border-top: 5px solid $crimson-color;
  border-bottom: 1px solid $crimson-color-very-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}*/

.site-title {
  @include relative-font-size(1.625);
  font-weight: 600;
  color: $crimson-color;
  line-height: $base-line-height * $base-font-size * 2;
  letter-spacing: -1px;
  margin-bottom: 0;
  padding-left: 160px;
  float: left;

  //&,
  &:visited {
    color: $crimson-color-dark;
  }

  &:hover {
    color: $crimson-color-light;
    text-decoration: none;
    cursor: pointer;
  }
}

#navbar {
  line-height: $base-line-height * $base-font-size * 2;
  padding-right: 100px;
  float: right;
  text-align: center;

  .icon {
    display: none;
  }

  .page-link {
    
    // padding-left: 100px;
    
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 25px;
    }

    &:hover {
      color: $crimson-color;
      text-decoration: none;
      cursor: pointer;
    }
  }
}


  @media screen and (max-width: 600px) {
    #navbar a:not(:first-child) {display: none;}
    #navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    #navbar.responsive {
      position: relative; 
      padding-right: 0px;
    }
    #navbar.responsive .icon {
      position: relative;
      right: 0%;
      top: 0%;
    }

    #navbar.responsive a:not(:first-child) {
      margin-right: 0px;
    }

    #navbar.responsive a {
      float: none;
      display: block;
      color: $background-color;
      background-color: lighten($grey-color, 13%);
      text-align: center;
      &.site-title{
        padding-left: 0px;
        float: none;
        letter-spacing: 0px;
      }
    }
  
  }

  /*
.site-nav {
  float: right;
  text-align: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  padding-right: 10px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      color: $crimson-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

*/

/**
 * Site footer
 */
.site-footer {
  padding-top:    75px;
  // right: 0;
  bottom: 0;
  // left: 0;
  padding: 1rem;
  text-align: center;
  font-size: $small-font-size;
  color: $grey-color;
  clear: both;
  margin-bottom: 30px;

  a {
    color: $grey-color;
  }
  p {
    margin: 5px auto;
    width: 160px;
  }
  img {
    width: 26px;
    height: 26px;
    margin: 0 4px;
    display: block;
    float: left;
  }
}

@media (min-width: 48em) {
  .site-footer {
    margin-left: 1.5rem;
    margin-right: 1rem;
  }
}

/**
 * Page content
 */
/*.page-content {
  padding: $spacing-unit 0;
}*/

.right-content {
  // padding: $spacing-unit 0;
  padding-top:    75px;
  padding-bottom: 2rem;
}

.page-heading {
  @include relative-font-size(1.6);
  letter-spacing: -1px;
  line-height: 1.2;

  @include media-query($on-laptop) {
    @include relative-font-size(1.6);
  }

  font-weight: $base-font-weight * 1.5;
  width: $content-width * 0.9;
  max-width: 100%;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;

  a.post-tag {
    border-radius: 20px;
    border: 1px solid $grey-color;
    color: $grey-color;
    padding: 1px 5px;
    margin-left: 5px;
    &:hover {
      border: 1px solid $brand-color;
      text-decoration: none;
      color: $brand-color;
    }
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.4);
  letter-spacing: 1px;
  line-height: 2.4;

  @include media-query($on-laptop) {
    @include relative-font-size(1.6);
  }

  font-weight: $base-font-weight * 1.4;
  width: $content-width;
  max-width: 100%;

  &:hover {
    color: $crimson-color-light;
    text-decoration: none;
    cursor: pointer;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.2);
  letter-spacing: -1px;
  line-height: 1.2;

  @include media-query($on-laptop) {
    @include relative-font-size(2.2);
  }

  font-weight: $base-font-weight * 1.5;
  width: $content-width * 0.85;
  max-width: 100%;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.7);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }

    font-weight: $base-font-weight * 1.5;
    margin-top: $spacing-unit * 1.55;
  }

  h3 {
    @include relative-font-size(1.4);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
    font-weight: $base-font-weight * 1.4;
    margin-top: $spacing-unit * 1.1;
  }

  h4 {
    @include relative-font-size(1.15);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
    font-weight: $base-font-weight * 2.0;
  }

  a {
    border-bottom: 1px dotted #bbb;
    padding-bottom: 1px;

    &:hover {
      color: $crimson-color-light;
      border-bottom: 1px solid $crimson-color-light;
      padding-bottom: 1px;
      text-decoration: none;
    }
  }
}

.publication{
  @include relative-font-size(0.8);

    @include media-query($on-laptop) {
      @include relative-font-size(0.775);
    }
    font-weight: $base-font-weight;
}